.white {
	color: whitesmoke;
	text-decoration: none;
}

.white:hover {
	text-decoration: underline;
}

.black {
	color: black;
	text-decoration: none;
}

.black:hover {
	text-decoration: underline;
}
