html {
	--colour-active-green: #8efe89;
	--colour-disabled-red: #ff5b5b;
	--colour-disabled-button: gainsboro;
	--colour-button-hover: #d2ebff;
}

body {
	min-width: 368px;
	margin: 0;
	background: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
