.loginWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	width: 20rem;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 5px;
}

.submit {
	background: white;
	cursor: pointer;
}

.submit:hover {
	background: var(--colour-button-hover);
}
